label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#saveButton {
    float: right;
    clear: both;
    margin-top: 10px;
    margin-bottom: 10px;
}

#statusText {
    font-size: 10px;
    margin-top: 5px;
}

#url {
    display: block;
    width: 100%;
}